html {
    scroll-behavior: smooth;
}
/*HEADER*/
.navbar-custom {
    background-color: transparent;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, border-bottom 0.3s ease;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    max-width: 100%;
}
.navbar-brand {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
.navbar-brand-white {
    display: none;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
.navbar-toggler {
    display: none;
    border: none;
    background: transparent;
    color: #770f00;
    font-size: 1.25rem;
    height: 40px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    outline: none;
}
.navbar-toggler::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    color: inherit;
    margin-right: 3px;
}
.navbar-toggler.active::before {
    content: "\f00d";
}
.navbar-toggler span {
    margin-left: 2px;
}
.navbar-toggler:hover {
    color: #d3a66d;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: max-height 0.4s ease, opacity 0.0s ease;
    max-height: 0;
    opacity: 1;
    overflow: visible;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-left, .nav-right {
    display: flex;
    align-items: center;
}
.nav-left {
    margin-right: auto;
}
.nav-right {
    margin-left: auto;
}
.nav-item {
    margin: 0 10px;
}
.navbar-logo {
    height: auto;
    max-height: 80px;
}
.nav-text-custom {
    color: #770f00;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}
.nav-text-custom:hover, .navbar-toggler:hover {
    color: #b72812;
}
.navbar-custom.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid white;
    height: 70px;
}
.navbar-custom.scrolled .navbar-logo {
    height: 65px;
}
.video-text-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.video-container {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    z-index: -1;
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #770f00;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    box-sizing: border-box;
}
.text-block h2{
    font-size: 3.5rem;
    font-family: "BerlingskeSerif-SemiBold";
    display: block;
    font-weight: bold;
}
.text-block h1{
    font-family: "Gill Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: .32em;
    text-transform: uppercase;
}
@media (min-aspect-ratio: 1/1) {
    .video-container video, .text-block {
        width: auto;
        height: 100%;
        min-width: 100%;
    }
    .text-block h2{
        font-size: 3rem;
    }
    .text-block h1{
        font-size: 1.3rem;
    }
}
@media (max-aspect-ratio: 1/1) {
    .video-container video, .text-block {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}
@media (max-width: 500px) {
    .video-text-wrapper{
        height: 100vh;
    }
    .video-container, .text-block {
        height: 100vh;
    }
    .video-container video, .text-block {
        width: 100%;
        height: auto;
        min-height: 100%;
    }
    .text-block h2{
        font-size: 2rem;
    }
    .text-block h1{
        font-size: 1.1rem;
    }
}
@media (max-width: 991px) {
    .navbar-toggler {
        display: flex;
    }
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #770f00;
        border-bottom: 1px solid white;
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 50;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
    }
    .navbar-toggler:hover {
        color: #770f00;
    }
    .navbar-collapse.show {
        max-height: 500px;
        opacity: 1;
    }
    .navbar-custom.show-menu {
        background-color: #770f00;
        border-bottom: 1px solid white;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease, border-bottom 0.3s ease;
    }
    .navbar-custom.scrolled.show-menu {
        background-color: #770f00;;
        height: 80px;
        border-bottom: 1px solid white;
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease, border-bottom 0.3s ease;
    }
    .nav-item {
        padding-left: 10px;
        width: 100%;
        text-align: left;
        padding: 10px;
    }
    .nav-left, .nav-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    .nav-item:last-child {
        border-bottom: none;
    }
    .nav-text-custom {
        color: white;
        font-size: 1.25rem;
    }
    .navbar-custom.show-menu.scrolled .navbar-logo {
        height: auto;
        max-height: 80px;
    }
    .navbar-custom.show-menu .navbar-brand-white {
        display: flex;
    }
    .navbar-custom.show-menu .navbar-brand {
        display: none;
    }
    .navbar-custom.show-menu .navbar-toggler{
        color: white;
    }
    .navbar-custom.show-menu .navbar-toggler:hover{
        color: white;
    }
    .navbar-custom.show-menu .nav-text-custom:hover{
        color: white;
    }
}
/*ABOUT US*/
.about-section {
    background-color: #770f00;
    text-align: center;
    width: 100%;
    height: auto;
    color: white;
    font-family: "BerlingskeSerif-SemiBold";
}
.ab, .cd{
    padding-top: 115px;
    padding-bottom: 115px;
}
.about-section h2 {
    margin-bottom: 2.0rem;
    font-size: 1.5rem;
    letter-spacing: .32em;
    text-transform: uppercase;
}
.about-section p{
    line-height: 1.7;
    margin: 0 auto;
    display: block;
    font-size: 2.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}
.arrow-long {
    display: block;
    margin: 1rem auto;
    max-width: 1rem;
}
.arrow-long svg {
    width: 100%;
    height: auto;
}
@media (min-width: 500.01px) and (max-width: 1024px){
    .ab {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .cd {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .about-section h2{
        font-size: 1.3rem;
    }
    .about-section p {
        font-size: 1.5rem;
    }
}
@media (max-width: 500px){
    .ab {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .cd {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about-section h2{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .about-section p {
        font-size: 1.3rem;
    }
}
/*COURSES*/
.course-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-card {
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-content {
    flex: 1;
    margin-left: 40px;
    text-align: left;
}
.course-content h3 {
    font-size: 1.6rem;
    color: #691212;
    margin: 20px 0;
}
.course-content h4 {
    font-size: 1.25rem;
    color: #af7d3e;
    margin: 10px 0;
}
.course-content p {
    font-size: 1rem;
    margin: 10px 0;
}
.course-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
/* FOOTER */
.footer-custom {
    background-color: #691212;
    color: white;
    padding: 80px 20vh 50px;
}
.column-container {
    max-width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.column {
    box-sizing: border-box;
}
.column1, .column2, .column3 {
    flex: 1 1 33.333%;
}
.footer-custom .footer-heading {
    font-size: 2rem;
    margin-bottom: 15px;
}
.contact-info {
    margin-bottom: 15px;
}
.footer-custom h{
    font-size: 2rem;
    line-height: 2.5;
    width: auto;
}
.footer-custom p {
    margin: 15px 0;
    font-size: 1.2rem;
    font-family: "Gill Sans", sans-serif;
}
.footer-custom p1 {
    margin-right: 8px;
    line-height: 1.9;
    font-size: 1.35rem;
    font-family: "BerlingskeSerif-SemiBold";
}
.footer-link {
    color: white;
    transition: color 0.3s ease;
}
.footer-link.active {
    color: white;
    border-bottom: none;
    text-decoration: none;
}
.footer-link.hover {
    color: #d3a66d;
    border-bottom: none;
    text-decoration: none;
}
.footer-divider {
    border: 0;
    height: 1px;
    background-color: #7e1c1c;
    margin: 10px 0;
}
.footer-custom h3{
    font-size: 1rem;
}
@media (min-width: 955.01px) and (max-width: 1282px){
    .footer-custom {
        padding: 40px 8%;
    }
    .column {
        width: 84%;
    }
}
@media (min-width: 630.01px) and (max-width: 955px){
    .footer-custom {
        padding: 40px 6%;
    }
    .column {
        width: 88%;
    }
    .column1, .column2 {
        flex: 1 1 50%;
    }
    .column3 {
        flex: 1 1 100%;
    }
}
@media (max-width: 630px){
    .footer-custom {
        padding: 40px 6%;
    }
    .column {
        width: 88%;
    }
    .column1, .column2, .column3 {
        flex: 1 1 100%;
    }
}
@media (min-width: 450.01px) and (max-width: 1282px){
    .footer-custom h{
        font-size: 1.4rem;
        line-height: 2;
    }
    .footer-custom p {
        font-size: 1rem;
    }
    .footer-custom p1 {
        line-height: 1.5;
        font-size: 1.1rem;
    }
    .footer-custom h3{
        font-size: 0.9rem;
    }
}
@media (max-width: 450px){
    .footer-custom h{
        font-size: 1.3rem;
        line-height: 1.6;
    }
    .footer-custom p {
        margin: 10px 0;
        font-size: 0.95rem;
    }
    .footer-custom p1 {
        line-height: 1.5;
        font-size: 1.05rem;
    }
    .footer-custom h3{
        font-size: 0.8rem;
    }
}
